body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #646464;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
}

div{
    display: block;
}

#main-title {
    font-family: 'Consolas', monospace;
    font-size: 3em;
    border: 3px solid red;
    padding: 20px;
    margin: 0;
    font-weight: bold;
}

.control-panel-region {
    padding: 3px;
    margin: 5px;
    /*display: flex;*/
    flex-direction: row;
    display: flex;
    /*grid-row: row;*/
}

.top-panel-region {
    /*padding: 5px;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.top-panel-button {
    width: 70px;
    height: 70px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 14px;
    white-space: pre-wrap;
    margin: 15px;
}

.brush-size-slider {
    width: 30vw;
    margin-left: 20px;
    appearance: none;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.brush-size-slider:hover {
    opacity: 1;
}

.brush-size-slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

.brush-size-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

.brush-size-slider-value {
    margin-left: 10px;
    font-size: 1.2vw;
    font-weight: bold;
}

.color-key-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    /*justify-content: space-around;*/
    gap: 4px;
    width: 40%;
}

.color-key-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*margin-top: 2px;*/
}

.color-key-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*margin-top: 2px;*/
}

.color-key-wrapper button {
    margin-right: 10px;
}

.other-keybinds-region {
    display: flex;
    /*flex-wrap: wrap;*/
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-around;
    gap: 4px;
    width: 60%;
}

.keybind-key-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}

.outer {
    width: 100%;
}
.inner {
    height: 100%;
}

table{
    /*margin-top: 4px;*/
    width: 100%;
}

th{
    border-left: 1px solid #EBEBED;
    border-bottom: 1px solid #EBEBED;
    border-top: 1px solid #EBEBED;
    color: #3E3E49;
    background: #F6F6F6;
    height: 2em;
    vertical-align: middle;
    text-align: left;
    padding: 0 4px 0 4px;
    font-weight: 500;
    font-size:13px;
}

thead>tr{
    border-right: 1px solid rgb(235, 235, 237);
}

tr{
    border-bottom: 1px dotted #EBEBED;
    border-left: 1px dotted #EBEBED;
}

td {
    padding: 0 4px 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
    border-right: 1px dotted #EBEBED;
    /*vertical-align: top;*/
    height: 20px;
    font-size:  0.9em;
    min-width: 160px;
}

td.method{
    max-width: 160px;
    width: 160px;
}

th.method{
    max-width: 160px;
    width: 160px;
}

tbody>tr:hover{
    background-color: #F2F6F9;
}