body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383838;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    -webkit-app-region: drag;
    -webkit-user-select: none;

}

#toolbar-container {
    display: block;
    /*padding: 10px;*/  /* The light gray border on L and R */
    padding: 0% 10% 0% 10%; /* T R B L */
    border-radius: 8px;
    /*width: 90px;*/
    background-color: #505050;
    border: 2px solid #3b3b3b;

}

#colors-container {
    display: none;
    padding: 0% 10% 0% 10%; /* T R B L */
    border-radius: 8px;

    background-color: #505050;
    border: 2px solid #3b3b3b;
}

#settings-container {
    display: none;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    background-color: #505050;
    border: 2px solid #3b3b3b;

    color: #CACACA;

    -webkit-app-region: no-drag;
    /*-webkit-user-select: text;  Enable if u want the user to be able to highlight the text, which I most likely dont want*/
}

#minimized-container {
    display: none;
    padding: 0% 10% 0% 10%;
    border-radius: 8px;
    /*width: 90px;*/
    background-color: #505050;
    border: 2px solid #3b3b3b;

}


@font-face {
    font-family: Ubuntu-Bold;
    src: url("assets/fonts/Ubuntu-Bold.ttf");
}

/* Toolbar Styles */

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #383838;
    /*padding: 10px 2px 2px 10px;*/
    margin: 13px 0px 13px 0px;
    /*height: 100vh;*/
    /*width: 90px;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.toolbar-button {
    /*width: 64px;*/
    /*height: 64px;*/
    /*width: 75%;*/
    /*width: 75%;*/
    max-width: 100%;
    height: auto;
    /*margin: 0px 13px 0px 13px; !* Top Right Bottom Left *!*/
    cursor: pointer;
    background-color: transparent;

    -webkit-app-region: no-drag;
}

.toolbar-button:hover {
    background-color: #5399A2;
    transition: background-color 0.2s;
}

.drawing-mode-button {
    background-color: #2B4D3C;
}

.drawing-mode-button:hover {
    background-color: #5399A2;
    transition: background-color 0.2s;
}

.disabled-toolbar-button:hover {
    background-color: #000000;
    transition: background-color 0.2s;
}

.toolbar-button img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


/* Color Palette Styles */

.select-color-button {
    border: 1px solid #3b3b3b;
    margin: 3px;
    padding: 3px;
    cursor: pointer;
    background-color: transparent;

    max-width: 100%;
    height: auto;

    -webkit-app-region: no-drag;
}


/*.select-color-button:hover {*/
/*    background-color: #5399A2;*/
/*    transition: background-color 0.2s;*/
/*}*/

.select-color-button div {
    transition: transform 0.3s ease;
}

.select-color-button:hover div {
    transform: scale(1.1); /* Increase size on hover */
}

.select-color-button-color-div {
    /*postiion: relative;*/
    /*width: 90%;*/
    width: 30px;
    height: 0; /* Together with padding-btm makes height = width */
    padding-bottom: 100%;
    border-radius: 4px;
}


/* Settings Tabs Styles */

.settings-tab-holder {
    overflow: hidden;
    border: 1px solid #CACACA;
    background-color: #434343;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

}

.settings-tab-holder button {

    float: left;

    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

    font-family: Ubuntu-Bold;
    color: #CACACA;
}

.settings-tab-holder button:hover {
    background-color: #989898;
}

.settings-tab-holder button:active {
    background-color: #39686E
}

.unactivated-btn {
    background-color: #434343;
}

.activated-btn {
    background-color: #5399A2
}

.settings-tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;

    animation: fadeEffect 0.5s;
}


@keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Settings Colors Tab */

.settings-dropdown {
    /*background-color: #525252;*/
    /*font-size: 24px;*/
    /*font-family: Ubuntu-Bold;*/

    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #484848;
    color: #CACACA;
    padding: 16px 14px;

    cursor: pointer;
    font-size: 20px;
    font-family: Ubuntu-Bold;
}

.dropdown-options {
    display: none;
    position: absolute;
    background-color: #585858;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-options button {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-options button:hover {
    background-color: #5399A2
}

.settings-dropdown:hover .dropdown-content {
    display: block;
}

.settings-dropdown:hover .dropdown-btn {
    background-color: #5399A2;
}

#set-color-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.settings-color-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #383838;
    /*padding: 10px 2px 2px 10px;*/
    margin: 13px 0px 13px 0px;
    /*height: 100vh;*/
    /*width: 90px;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.color-entry-area {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-family: Ubuntu-Bold;

    padding-top: 30px;
}

input[type="number"] {
    background-color: #383838;
    font-family: Ubuntu-Bold;
    color: #CACACA;
}

.color-picker {
    display: inline-block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(3, 1, 1, 0.08);
}



/* Settings Keybinds Tab */

table {
    width: 100%;
    /*border-spacing: 10px;*/  /* No effect due to border collapse */
    border-collapse: collapse;
}

.settings-table-container {
    width: 100%;
    max-height: 400px; /* Scroll Area Height */
    overflow-y: auto;
}

.settings-table-container::-webkit-scrollbar {
    width: 12px;
}

/* Scrollbar Rectangle Bkg of Track */
.settings-table-container::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}

.settings-table-container::-webkit-scrollbar-thumb {
    background-color: #989898;
    border-radius: 10px;
    border: 3px solid #333; /* Padding to make it LOOK smaller, so its easier to click */
}

/* UP DOWN Scrollbar Buttons */
.settings-table-container::-webkit-scrollbar-button {
    background-color: #666;
    border-radius: 50%;
    height: 12px;
    width: 12px;

    display: none; /* Remove scrollbar buttons for now because it looks weird */
}

/* Scrollbar button: UP */
.table-container::-webkit-scrollbar-button:vertical:decrement {
    background-color: #888;
}

/* Scrollbar button: DOWN */
.table-container::-webkit-scrollbar-button:vertical:increment {
    background-color: #888;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

h2 {
    font-family: Ubuntu-Bold;
}

th, td {
    padding: 8px;
    text-align: left;

    border-bottom: 1px solid #555;

    font-family: Ubuntu-Bold;
}

table th {
    background-color: #444444;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #666;
}

/* Fix header in place */
thead th {
    background-color: #444444;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Table Body Alternating Row Colors */
table tbody tr:nth-child(even) {
    background-color: #383838;
}

table tbody tr:nth-child(odd) {
    background-color: #323232;
}

/* Table Body Cells */
table td {
    padding: 10px;
    text-align: center;
}

/*table tbody tr:hover {*/
/*    background-color: #242424;*/
/*}*/

.keybind-btn {
    padding: 8px;
    background-color: #333;
    border: 1px solid #555;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.keybind-btn:hover:enabled {
    background-color: #5399A2;
    transition: background-color 0.2s;
}

.keybind-btn:disabled {
    /*background-color: #FF0000;*/
    /*transition: background-color 0.1s;*/

    cursor: not-allowed;
}

.color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    /*font-size: 20px;*/
    color: #fff;
    cursor: pointer;

    -webkit-app-region: no-drag;
}

/*.close-button img {*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*    object-fit: cover;*/

/*    user-drag: none;*/
/*    -webkit-user-drag: none;*/
/*    user-select: none;*/
/*    -moz-user-select: none;*/
/*    -webkit-user-select: none;*/
/*    -ms-user-select: none;*/
/*}*/





